@model IEnumerable<PhuocCon.Web.Models.ProductCategoryViewModel>
<div class="sub-cate">
    <div class="top-nav rsidebar span_1_of_left">
        <h3 class="cate">Danh mục sản phẩm</h3>
        <ul class="menu">
            @foreach (var category in Model.Where(x=>x.ParentID == null))
            {
                var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                var childCategories = Model.Where(x => x.ParentID == category.ID);
                
                <li class="item1">
                    <a href="@url">@category.Name @(childCategories.Count() > 0 ? "<img class=\"arrow-img\" src=\"/Assets/client/images/arrow1.png\" alt=\"\" />" : "") </a>
                    @if(childCategories.Count() > 0 )
                    {
                        <ul class="cute">
                            @foreach (var childCategory in childCategories)
                            {
                                var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                <li class="subitem1"><a href="@childUrl">@childCategory.Name</a></li>
                            }
                        </ul>
                    }
                </li>
            }

        </ul>
    </div>
</div>